<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Marks Management System</title>
    <link rel="stylesheet" href="../static/css1/normalize.css">
    <link rel="stylesheet" href="../static/css1/main.css" media="screen" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/css1/bootstrap.css">
    <link rel="stylesheet" href="../static/css1/style-portfolio.css">
    <link rel="stylesheet" href="../static/css1/picto-foundry-food.css" />
    <link rel="stylesheet" href="../static/css1/jquery-ui.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css1/font-awesome.min.css" rel="stylesheet">
    <!-- <link rel="icon" href="favicon-1.ico" type="image/x-icon"> -->
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="row">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    <a class="navbar-brand" href="#">Marks and Attendance</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav main-nav  clear navbar-right ">
                        <li><a class="navactive color_animation" href="{{ url_for('indexatt')}}">Back to Home</a></li>
                        <li><a class="color_animation" href="#story">About</a></li>
<!--                        <li><a class="color_animation" href="#con">Contact Us</a></li>-->
                        <li><a class="color_animation" href="{{url_for('loginATT') }}">Admin Login</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="container1">
        <h2 style="color: aquamarine">Your Marks & Attendance</h2>
<!--        <h5> here is value of x {{ x }}</h5>-->
<!--        <h6>here is row {{ row1}}</h6>-->
        <h2 style="color: ">USN : {{ usn2}}</h2>
        <ul class="responsive-table">
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Subject</th>
                        <th scope="col">IA1 Marks</th>
                        <th scope="col">IA2 Marks</th>
                        <th scope="col">IA3 Marks</th>
                        <th scope="col">Attendance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in range(0,x) %}
                    <tr>
                        <th scope="row">{{ i+1 }}</th>
                        <td>{{ row1[i][1] }}</td>
                        <td>{{ row1[i][3] }}</td>
                        <td>{{ row1[i][4] }}</td>
                        <td>{{ row1[i][5] }}</td>
                        <td>{{ row1[i][7] }}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            <div id="#story"></div>
            <div></div>
    </div>


    <footer class="sub_footer ">
        <div class="container" id="con">
            <div class="col-md-4">
                <p class="sub-footer-text text-center">Bangalore Institute of technology</p>
            </div>
            <div class="col-md-4">
                <p class="sub-footer-text text-center">Department Of CSE </p>
            </div>
            <div class="col-md-4">
                <p class="sub-footer-text text-center">Department Of CSE </p>
                <p class="sub-footer-text text-center">bitcse@gmail.com </p>
            </div>
        </div>
    </footer>


    <script type="text/javascript" src="../static/js1/jquery-1.10.2.min.js">
    </script>
    <script type="text/javascript" src="../static/js1/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js1/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="../static/js1/jquery.mixitup.min.js"></script>
    <script type="text/javascript" src="../static/js1/main.js"></script>

</body>

</html>